<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RapidSnip{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
  rel="stylesheet"
/>
</head>

<body>
    <header>
        <div class="p-5 text-center bg-body-tertiary" style="margin-top: 58px;">
          <h1 class="mb-3">RapidSnip</h1>
          <h6 class="mb-3 badge badge-success">Rapid Link Shortner</h6>
        </div>
      </header>
          
          <div class="row d-flex justify-content-center">
            <div class="col-md-9">
              <div class="card mt-3">
                {% if total_links %}
                <div class="card-head"><h3><span class="badge badge-primary">Total Links: {{ total_links }}</span>
          <span class="badge badge-primary">Total Visits: {{ total_visits }}</span></h3></div>{% endif %}
                <div class="card-body">
                  {% block content %}{% endblock %}
                </div>
              </div>
            </div>
          </div>
          



    <footer class="bg-body-tertiary text-center">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        &#169; created by
        <a class="badge badge-dark" href="https://github.com/immodded">Modd</a>
      </div>
    </footer>

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</html>




